h1 	{
	text-align:center;
	color:black;
	background-color:#C0C0C0;
	border:2px solid black;
}

body	{
	background-color:;
	border-style: none;
}

nav,h5	{
	text-align:center;
}

h3	{
	font-style:bold;
}
p	{
	font-size: 15px;
}