h1 	{
	color:black;
	background-color:#C0C0C0;
	border:2px solid black;
	text-decoration:underline;
	padding: 15px 15px 15px 5px;
}

h2	{
	color:blue;
	background-color:line;
	border:1px solid yellow;
	text-shadow:1px 1px magenta;
}

body {
	background: lightblue;
}
