body{
	background-color: #FDEEF4;
}

/* This half of the styling is universal */

#page-heading{
	text-align: center;
	background-color: #E6A9EC;
	font-size: 22px;
	outline: solid black;
	margin-top: 0;
	margin-right: 100px;
	margin-left: 100px;
}
#page-heading:hover{
	color: yellow;
	background-color: #504A4B;
}
#page-navigation{
	text-align: center;
	background-color: rgba(12,34,56,0.22);
	font-size: 20px;
}
.navlink{
	font-style: bold;
	padding: 9px;
}
.navlink:visited{
	color: yellow;
}
.navlink:hover{
	color: yellow;
	background-color: #504A4B;
	background-clip: content-box;
}
#page-footer{
	text-align: center;
	font-size: 17px;
	outline: solid wheat;
	background-color: white;
	margin-left: 350px;
	margin-right: 350px;
}

/* CSS for forms.html */

#page-form-details{
	font-size: 18px;
	text-align: left;
	width: 400px;
	margin-top: 10px;
	padding: 10px;
	border: solid black 1px;
}

form div + div{
	margin-top: 10px;
}

label{
	width: 90px;
	display: inline-block;
	text-align: right;
}

/* CSS for blog.html */

#blog-body{
	font-size: 25px;
}

#blog-heading{
	box-sizing: border-box;
	text-align: center;
	background-color: #808080;
	color: red;
}

#blog-navigation{
	box-sizing: border-box;
	text-align: center;
	float: left;
	width: 15%;
}

#blog-navigation a{
	width: 100%;
	display: block;
	outline: solid black 1px;
	margin: 5px;
}

#blog-main{
	box-sizing: border-box;
	text-align: center;
	outline: solid black 1px;
	float: left;
	width: 50%;
	margin: 5px;
}

#blog-side{
	box-sizing: border-box;
	text-align: center;
	float: right;
}

#blog-footer{
	box-sizing: border-box;
	text-align: center;
}