html{
  background-color: #C0C0C0;
}
h1{
  text-align: center;
}
#nav-bar-top{
  text-align: center;
  font-size: 20px;
}
#top-link{
  text-align: center;
  font-size: 18px;
}
#main-page{
  font-size: 22px;
}
#side-bar{
  font-size: 22px;
  margin-left: 800px;
  outline-style: double;
}