
#user-table{
	border: solid black 2px;
	font-size: 25px;
	text-align: center;
}

th {
	border: solid black 2px;
	width: 800px;
	font-size: 25px;
	text-align: center;
}

td{
	border: solid black 1px;
	font-size: 25px;
	text-align: center;
}

/* CSS for examples.html */
#main_table{
	font-size: 25px;
}
.converter{
	font-size: 25px;
}
